
body {
    /*background: #EEEEE0 */
    background: #f3f3f3;
    margin: 0;
    color: #000000;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 16px;
    }

body > header, body > section {
    width: 820px;
    padding: 10px;
    margin: 10px auto;
    background: white;
    font-family: Helvetica, Arial, Sans-Serif;

}


a {
    color: #0000FF;
    text-decoration: none;
}

h1 a {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 300;
}






code, pre, tt {
    font: 80% "Droid Sans Mono", monospace;
    background: #f3f3f3;
    padding: 0.2em;
}

pre {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 0.5em;
    overflow: auto;
}

pre code {
    padding: 0;
    font-size: 90%;
    display: block;
}

header {
    position: relative;
}

header nav {
    font-size: 140%;
    position: absolute;
    right: 0;
    font-family: Helvetica, Arial, Sans-Serif;

}

header nav ul {
   list-style-type: none;
   padding: 0;
   margin: 5px;
   overflow: hidden;
   background-color: #f3f3f3;
}

header nav li {
    
 float: left;
 margin: 0 0.5em;
 display: inline-block;
}

header nav li a:hover:not(.active) {
    color: #0000FF;
    text-align: center;
    text-decoration: none;

}

.active {
    color: #0000FF;
}


header a {
    color: inherit;
}

section {
    line-height: 1.4em;
}

hr {
    width: 860px;
    margin-left: -20px;
    border: 0;
    background: #f3f3f3;
    height: 20px;
}

table {
    margin: 0.1em 0;
    border-collapse: collapse;
    font-size: 11pt;
    font-family: Helvetica, Arial, Sans-Serif;
}

th {
    text-align: left;
}

th, td {
    border: 1px solid #555;
    padding: 0.8em;
}



#picture {
    display:inline-block;
    margin-right: 20px;
}

#about {
    display:inline-block;
}




